*
{
  margin: 0;
  padding: 0;
}

body
{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  margin-top: 50px;
}

.root{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/bg.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: auto;
    
}

.header{
    width: 100%; 
    height: 50px;
    font-size: 35px;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.3);
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: rgb(255, 250, 239);
    font-family: 'Didact Gothic', sans-serif;
    line-height: 130%;
    position: sticky;
    top: 0px; left: 0px;
    z-index: 2;
}

.block{
    width: 100%;
    height: 780px;
    background-color: rgba(255, 245, 235, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.3);
}

.second{
    margin-top: 200px;
}

.footer{
    width: 100%; 
    height: 40px;
    font-size: 15px;
    text-align: center;
    color: white;
    background-color: black;
    font-family: 'Didact Gothic', sans-serif;
    line-height: 250%;
    z-index: 2;
}

.about_me{
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
    background-color:rgba(255, 255, 255, 0.13);
    font-family: 'Trebuchet MS';
    font-size: 25px;
    text-align: center;
    margin: 20px auto;
    color: white;
    width: 50vw;
    height: auto;
    border-radius: 10px;
    line-height: 1.3;
}

.about_me_sub{
    font-size: 20px;
    text-align: left;
    height: auto;
    margin-left: 10px;
    line-height: 1.1;
}

@media (max-width: 740px){

}