*
{
  margin: 0;
  padding: 0;
}

body
{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  margin-top: 50px;
}

.root{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/bg.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: auto;
    
}

.header{
    width: 100%; 
    height: 50px;
    font-size: 35px;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.3);
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: rgb(255, 250, 239);
    font-family: 'Didact Gothic', sans-serif;
    line-height: 130%;
    position: sticky;
    top: 0px; left: 0px;
    z-index: 2;
}

.block{
    width: 100%;
    height: 780px;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.3);
}

.topbg{
    width: 100%;
    height: auto;
    opacity: 0.5;
    position:fixed;
}

.second{
    margin-top: 200px;
    width: 100%;
    height: auto;
    padding-bottom: 3%;
}

.my_games{
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
}

.footer{
    width: 100%; 
    height: 40px;
    font-size: 15px;
    text-align: center;
    color: white;
    background-color: black;
    font-family: 'Didact Gothic', sans-serif;
    line-height: 250%;
    z-index: 2;
    display: flex;
    flex-direction: column;

}

.yetanotherblock{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
}

.games{
    display: flex;
    flex-direction: row;
    margin-top: -10px;
}

.game{
    margin: auto;
    margin-top: 20px;
    width: 45%;
    height: auto;
    border-radius: 10px;
    background-color: rgb(226, 226, 226);
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.5);
}

.game_logo{
    width: 94%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 10px;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.3);
}

.game_main{
    font-size: 40px;
    margin-left: 3%;
    margin-bottom: -3%;
}

.game_text{
    font-size: 25px;
    margin: 3%;
}

.WI_GP{
    float: right;
    margin-right: 3%;
    margin-bottom: 3%;
}

.yab{
    margin: auto;
    width: 45%;
    height: 250px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    background-color: rgba(107, 142, 255, 0.2);
}

.first_subblock{
    position:relative;
}

.privacy_policy{
    color: white;
    font-size: 30px;
    margin: 5%;
}

.privacy_policy_sub{
    color: rgb(186, 186, 186);
    font-size: 20px;
    margin: 5%;
    margin-top: -3%;
}

.privacy_policy_button{
    position:absolute;
    right:0;
	bottom:0;
    margin-right:5%;
    margin-bottom: 5%;
    height: 75px;
    width: auto;
}

.second_subblock{

}

.about_me{
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
    background-color:rgba(255, 255, 255, 0.13);
    font-family: 'Trebuchet MS';
    font-size: 25px;
    text-align: center;
    margin: 20px auto;
    color: white;
    width: 50vw;
    height: auto;
    border-radius: 10px;
    line-height: 1.3;
}

.about_me_sub{
    font-size: 20px;
    text-align: left;
    height: auto;
    margin-left: 10px;
    line-height: 1.1;
}

@media (max-width: 740px){
    .yetanotherblock{
        margin-top: 5%;
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .first_subblock{
        margin-bottom: 3%;
    }

    .yab{
        width: 95%;
        height: 250px;
    }

    .privacy_policy{
        font-size: 40px;
        margin: 3%;
    }

    .privacy_policy_sub{
        color: rgb(186, 186, 186);
        font-size: 20px;
        margin: 3%;
        margin-top: -1%;
    }

    .privacy_policy_button{
        margin-right:3%;
        margin-bottom: 3%;
    }
}

@media (max-width: 1100px){

    .games{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .game{
        width: 95%;
        height: auto;
    }

    .WI_logo{
        width: 95%;
        height: auto;
        display: block;
        margin: 0 auto;
        margin-top: 3%;
        margin-bottom: 3%;
        border-radius: 10px;
        box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.3);
    }

    .WI_main{
        font-size: 35px;
        margin-left: 3%;
        margin-bottom: -3%;
    }
    
    .WI_text{
        font-size: 20px;
        margin: 3%;
    }
}
